* {
  font-family: 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK', sans-serif; 
}
.hidden {
  display: none !important;
}
/********************* prop up *********************/
.frame {
  position: relative;
  width: 100%;
  height: 100%;
}

.roll {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.roll:hover {
  overflow-y: auto;
}

.roll:hover::-webkit-scrollbar-thumb {
  display: block;
}
.roll::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}
.roll::-webkit-scrollbar-thumb {
  background-color: rgba(95,98,116,.5);
  background-clip: padding-box;
  border: 4px solid transparent;
  display: none;
  border-radius: 8px;
}
/********************* prop up *********************/


/********************* vertical nav *********************/
.ver_menu,
.verm_grp,
.grp_title,
.item {
  display: flex;
}
.ver_menu, .verm_grp {
  flex-direction: column;
}
.ver_menu {
  font-size: 14px;
  color: #232323;
}

.ver_menu .item,
.ver_menu .grp_title {
  flex-direction: row;
  padding: 3px 0;
}
.ver_menu .grp_title {
  font-weight: bold;
  padding-left: 10px;
}
.verm_grp .item {
  padding-left: 20px;
}
.ver_menu .item {
  cursor: pointer;
}
.ver_menu .item:hover {
  background: #DDDDDD;
}
.vm_icon {
  flex: 0 0 34px;
  justify-content: center;
  align-items: center;
}
.vm_name {
  flex: 1;
}
.vm_content {
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 15px;
}
.vm_content > div:nth-child(2),
.vm_content > div:nth-child(3) {
  font-size: 12px;
}
.wth40 {
  flex: 0 0 40px;
}
.mgt25 {
  margin: 15px 0;
}
.vm_content > div,
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*display: block !important;*/
  /*min-width: 0;*/
}
.horiz_divider {
  height: 1px;
  margin: 20px;
}

#chapter_body .ver_menu {
  border-bottom: 1px solid #eee;
}
#chapter_body .ver_menu .item {
  padding: 10px 0;
}
/********************* vertical nav *********************/


/********************* paragraph *********************/
#article {
  margin: 0 25px;
  position: relative;
  user-select: text;
}
#article::after {
  display: block;
  content: "";
  width: 2px;
  background: #DDDDDD;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.section {
  display: flex;
  flex-direction: row;
}
.section p {
  flex: 1;
  font-size: 18px;
}
.section:not(:last-child) p {
  margin-bottom: 0px;
}
.section p:nth-child(1) {
  padding-right: 25px;
  color: #0d627a;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.section p:nth-child(2) {
  padding-left: 25px;
}
#screen_body .roll {
  overflow-y: auto;
}
#screen_body .roll::-webkit-scrollbar-thumb {
  display: block;
}

@media screen and (max-width: 1200px) {
  #article::after {
    display: none;
  }
  .section {
    flex-direction: column;
  }
}
/********************* paragraph *********************/

/********************* button *********************/
.btn {
  display: flex;
  cursor: pointer;
  margin: 3px 5px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/********************* button *********************/

/********************* border *********************/
#top {
  border-bottom: 2px solid #DDD;
}
#foot {
  border-top: 2px solid #DDD;
}
#content_head {
  border-bottom: 1px solid #EEE;
}
/********************* border *********************/
